body {
    display: flex;
    flex-direction: column-reverse;
}

.keyboard {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    row-gap: 5px;
    column-gap: 5px;

}

.keyItem {
    height: 50px;
    box-shadow: 1px 1px 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &:nth-child(3n) {
        background: rgba(56, 56, 56, 0.067);
    }
}

.text {
    margin: 50px auto;
    height: 20vh;
    width: 80%;
}

.active {
    border: 3px solid yellowgreen;
}

.describtion {
    margin: 0 auto;
    text-align: center;
    color: rgb(26, 26, 26);
    font-size: 24px;
}